:root {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/mountains-universe02.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;

    position: relative;
}

nav {
    padding: 4rem 0 4rem 7.2rem ;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    min-width: 51rem;
}

nav a {
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 300;
    color: #FFFFFF;
}

.home {
    min-width: 40rem;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home h1{
    font-size: 4.2rem;
    color: #FFFFFF;
    margin-bottom: 2.8rem;
}

.home a{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 1.2rem 3.2rem;
    
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 900;
    letter-spacing: .1rem;
}

.home a:hover {
    background-color: #FFFFFF;
    color: #02799D;
    
}
