@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --ff-title: 'Epilogue', sans-serif;
    --ff-text: 'Epilogue', sans-serif;

    --color-background: #28293E;
    --color-background2: #FFFFFF;
    --color-font1: #FFFFFF;
    --color-font2: #BBB3E6;
    --color-font3: #090039;

    font-size: 62.5%;
}
body {
    font-family: var(--ff-text);
    background-color:var(--color-background);
    color: var(--color-font1);
}

header {
    text-align: center;
    margin-bottom: 8rem;
}
header h3 {
    font-family: var(--ff-title);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: var(--color-font2);
    text-transform: uppercase;
    letter-spacing: 4px;

    margin: 10.6rem 0 1.7rem;
}
header h1 {
    font-family: var(--ff-title);
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.8rem;
    color: var(--color-font1);
}

main {
    max-width: 33rem;   
    margin: auto;
}

.card {
    position: relative;
    margin-bottom: 3.2rem;
    width: 95%;  
}
.card img {
    height: 41.6rem; 
    object-fit: cover;
    transition: all 300ms;
    border-radius: 8px;
}
.card img:hover {
    transform: scale(1.1);
    opacity: 0.4;
}
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    filter: brightness(.8);
}

.text{
    position: absolute;
    bottom: 5.1rem;
    left: 2.8rem;
}
.text h4 {
    font-family: var(--ff-title);
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-font3);
    background-color: var(--color-background2);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    margin-bottom: 2.4rem;
    width: fit-content;
}
.text h3 {
    font-family: var(--ff-title);
    font-size: 3.8rem;
    font-weight: 800;
    color: var(--color-font1);
    width: 70%;
}

header {
    animation: topdown 2s;
}

main {
    animation: downtop 2s
}

@keyframes topdown {
    0% {
      opacity: 0;
      transform: translateY(-95px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  
@keyframes downtop {
    0% {
      opacity: 0;
      transform: translateY(95px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}


@media (min-width: 700px) {
    header h1 {
        font-size: 5.6rem;
    }
    main {
        max-width: 95%;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0;
        gap: 2.4rem;
        padding: 0 3rem;
        margin: auto;

    }
    
}

@media (min-width: 1000px) {
   main {
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "A B B"
                             "C C D";

                             
   }
    .card1 {
        grid-area: A;
    }
    .card2 {
        grid-area: B;
    }
    .card3 {
        grid-area: C;
        
    }
    .card4 {
        grid-area: D;
    }   
}